body{
    max-width: 1200px;
    margin: 15px;   
    box-sizing: border-box;     
    padding-right:  25px;
    background-color: cyan;
}

.header{
    display:flex;
    flex-direction: column;
    background-color: cadetblue;
    flex-basis: 80px;
    width: 100%;
    border: solid black 10px;
}
.nav-bar{
    border-bottom: 5px solid black;
    flex: 50%;
    display:flex;
    background-color: aqua;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.n-left{
    flex : 20%;
    background-color: brown;
    text-align: center;
}
.n-center{
    flex: 60%;
    text-align: center;
    background-color: brown;    

}
.n-right{
    flex : 20%;
    text-align: center;
    background-color: brown; 

}
.title-container{
    flex: 50%;
    display:flex;
    justify-content: center;   
    background-color: bisque;
    margin:10px
}

.main-container{
    display:flex;
    width: 100%;
    margin-top:10px;
    border: 10px solid black;

}

.left-side{
flex:70%;
display: flex;
flex-wrap: wrap;
background-color: antiquewhite;
padding: 10px;
gap: 10px;
}

.left-item{
    display: flex;
    flex-wrap: wrap;
    background-color: blueviolet;   
    flex: 48%;
}

.left-comment{
    flex:100%;
    background-color: burlywood;
    }

.right-side{
    padding: 10px;
    display:flex;
    flex-direction: column;
    flex:30%;
    background-color: aquamarine;
    border-left: 5px solid black;
    gap: 10px;
}
.aside-item{
    display: flex;
    background-color: cadetblue;
    width: 100%
}

.footer{
    width: 100%;
    margin-top: 10px;
    background-color: chocolate;
    border: 10px solid black;
}
/* Media querys para tableta */

@media (max-width: 768px) {
    body{
        background-color: bisque;
    }
    .main-container{
        flex-direction: column;
    }
    .right-side{
        border-left: none;
        border-top:10px solid yellow;
    }
    
.main-container{
   
    border: 10px solid yellow;
}
body{
    padding-right:  25px;
}
}
/* Media querys para movil */

@media (max-width: 600px) { 
    body{
        background-color: blueviolet;
    }   
    .nav-bar{flex-direction: column ;}
    .main-container{
        flex-direction: column;
    }
    
    .right-side{
        border-left: none;
        border-top:10px solid yellow;
    }
    .left-side{
        flex-direction: column;
    }
    
.main-container{
   
    border: 10px solid yellow;
}
body{
    padding-right:  25px;
}
}